html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 160px;
    background: url(../img/bg.png);
}

/* header */

#logo-on-page {
    height: 50px;
}

.for-header-navbar {
    border-bottom: 1px solid #76b900;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar-toggler {
    border: 1px solid #76b900 !important;
}

.navbar-nav a {
    border: 1px solid #76b900;
    border-radius: 0.3rem;
    color: #76b900 !important;
    box-shadow: 0 1px 2px rgba(118, 185, 0, 0.6), 0 1px 2px rgba(118, 185, 0, 1);
    font-weight: bold;
}

.navbar-nav a:hover {
    background-color: #76b900;
    color: #fff !important;
    transition: all 0.55s ease;
}

.callback-text {
    padding-left: 8px;
    list-style-type: none;
    font-size: 17px;
}

.callback-text a {
    color: #76b900;
}

.callback-text a:hover {
    text-decoration: none;
    color: #18F722;
}

/* preloader */
.preloader {
    background-color: #fff;
    display: none;
}

.preloader.on {
    display: block;
}

.preloader img {
    height: 280px;
}

/* second screen "content" */

#menu-on-content a {
    color: #76b900;
}

#product-content .nav-tabs .nav-link.active {
    border-color: #76b900 #76b900 !important;
    background: #76b900;
    color: #fff !important;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

#product-content .nav-link:hover {
    border-color: #76b900 #76b900 !important;
}

.nav-tabs {
    border-bottom: 1px solid #76b900;
}

h2 {
    font-size: 1.5rem;
}

.price-on-card {
    background: #fff;   
    font-size: 20px;
    color: #418DFF;
}

.caption-composition > h4:hover {
    cursor: pointer;
    color: #57c1ff !important;
}

.composition-product {
    border-right: 0 !important;
    border-left: 0 !important;
}

input[type="radio"] {
    display: none
}

input[type="radio"] + label {
    cursor: pointer
}

input[type = "radio"] + label span {
    display: inline-block;
    height: 22px;
    width: 20px;
    vertical-align: middle;
    background: url(../img/radiobtn-all.png) no-repeat;
    cursor: pointer;
}

input[type = "radio"]:hover + label span {
    background: url(../img/radiobtn-all.png) -19px no-repeat;
}

input[type = "radio"]:checked + label span {
    background: url(../img/radiobtn-all.png) -38px no-repeat;
}

.form-radbtn {
    border-radius: 10px
}

.border-light-green-color {
    border: 1px solid #76b900
}

.form-radbtn legend {
    font-size: 18px;
}

h4, h2, .text-color-quantity, .name-product, .name-price, .form-radbtn legend {
    color: #76b900 !important;
    text-shadow: -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #BBB,
    -3px 3px 2px #BBB,
    3px 3px 2px #BBB,
    3px -3px 2px #BBB;
}

.btn {
    width: 100% !important;
}

.btn:hover {
    box-shadow: 0 0 0 0.2rem rgba(59, 255, 70, 1);
}

.quantity-product {
    vertical-align: middle;
    margin: 0 5px;
    width: 70px;
    border-radius: 5px;
    color: #00b723;
}

.btn-minus-quantity, .btn-plus-quantity {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #76b900;
    cursor: pointer;
    width: 2rem;
    height: 1.9rem;
    border-radius: 7px;
}

.plus:hover:not(:active) {
    color: #fff;
    background: #76b900;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(0, 255, 255, .5),
    0 -1px 1px 1px rgba(0, 255, 255, .5);
}

.minus:hover:not(:active) {
    color: #fff;
    background: #76b900;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0) inset,
    0 1px 1px 1px rgba(0, 255, 255, .5),
    0 -1px 1px 1px rgba(0, 255, 255, .5);
}

.bg-lime-green {
    background: #76b900;
}

/*basket*/
#basket {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 255px; 
}

#basket-header {
    border-bottom: 0 !important;
}

#text-basket-header {
    font-size: 1.35rem;
    color: #fff;
}

.fixed-basket {
    position: fixed;
    top: 20px; 
}

.mobile-basket {
    display: none;
}

.text-basket-empty {
    width: 100%; 
    padding: 20px;
}

.name-product, .name-price {
    font-size: 1.05rem;
}

#basket-name-product-and-price {
    border-bottom: 1px solid #76b900;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#basket-total-price {
    color: #fff;
}

.basket-btn {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.basket-btn .btn-outline-success {
    background-color: #fff;
}

.basket-btn .btn-outline-success:hover {
    box-shadow: 0 1px 3px rgba(59,59,59,0.3);
    background: #343a40;
    color: #76b900;
}

.total-price {
    background: #fff;
    color: #F31C1C;
    border-radius: 10px;
}

@media only screen and (max-width: 1199px) {
    #basket {
        width: 220px;
    }
}

@media only screen and (max-width: 1000px) {
    #basket {
        display: none;
    }

    /* #mobile-basket-fixed {
        z-index: 35000;
        position: fixed;
        display: inline-block;
        top: 30%;
    } */

    .size-heigth-h2 {
        height: 64px;
        vertical-align: middle;
    }

    .mobile-basket {
        display: inline-block;
        position: fixed;
        left: -5px;
        top: 45%;
        width: 40px;
        height: auto;
        z-index: 35000;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    h5 {
        font-size: 1rem;
        word-wrap: break-word;
    }
     .text-in-footer {
        text-align: center;
    }
}

@media screen and (max-width: 530px) {
    h4 {
        font-size: 0.95rem;
        margin-top: 0.45rem;
    }

    h2 {
        font-size: 1.190rem;
    }
    .size-heigth-h2 {
        height: 49px;
    }
    .img-pizza {
        padding: 2px !important;
    }
    .img-pizza img {
        height: 2.2rem;
    }
    .price-on-card {
        margin: 0 !important;
        font-size: 0.85rem;
    }
    .composition-product {
        font-size: 0.55rem;
    }
    .form-radbtn legend {
        font-size: 0.85rem;
        padding: 0 1px;
    }
    .form label {
        font-size: 0.65rem;
    }
    h5 {
        font-size: 1rem;
    }
    .quantity-product {
        width: 50px;
    }
    .btn-minus-quantity, .btn-plus-quantity {
        width: 1.5rem;
        height: 1.7rem;
    }
    .btn {
        font-size: 0.65rem;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}

@media screen and (max-width: 389px ) {
    .form-radbtn legend {
        padding: 0 1px;
    }
    h2 {
        font-size: 1rem;  
    }
    .size-heigth-h2 {
        height: 40px;
    }
    .quantity-product {
        width: 25px;
    }
    .btn-minus-quantity, .btn-plus-quantity {
        width: 1.4rem;
        height: 1.6rem;
    }
}

@media only screen and (max-width: 320px) {
    #logo-on-page {
        height: 40px;
    }

    .form-radbtn legend {
        font-size: 0.65rem;
        padding: 0 1px;
    }
    .btn-minus-quantity, .btn-plus-quantity {
        width: 1.35rem;
        height: 1.7rem;
    }
    h4 {
        font-size: 0.8rem; 
    }
    h5 {
        font-size: 0.75rem; 
    }
}

/* footer */

#footer {
    color: #76b900;
    font-size: 20px;
    position: absolute;
    padding: 15px 0;
    bottom: 0;
    width: 100%;
}

#footer h2 {
    text-shadow: none;
}

.social-icons a {
    color: #76b900; 
    padding: 0 6px;
}

.social-icons a:hover {
    color: #fff;
}

.text-in-footer {
    border-top: 1px solid #76b900;
    margin: 0;
}

.none {
    display: none;
}
