.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 30%;
    max-width: 50%;
}

@media screen and (max-width: 768px) {
    .col-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 40%;
        max-width: 50%;
    }
}
