#contentcallback, .widhttext1 {
    float: right;
    width: 980px;
}

.descriprive_text_img, .btn_return_on_main, .btn_form {
    text-align: center;
}

#contentcallback {
    vertical-align: middle;
    height: 100%;
    margin: 10px 15px 0 5px;
    padding: 0 15px ;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

.descriprive_text_img {
    margin: 10px 0;
    float: right;
}

.descriptive_text {
    padding: 0;
    margin: 5px 0;
}

.widhttext1 {
    margin: 0 15px;
}

.widhttext1 h2 {
    color: #003f48;
    margin: 5px;
    padding: 5px;
    font-size: 48px;
}

.btn_return_on_main, .btn_form {
    border: 1px solid #19802b;
    background: #19802b;
    height: 35px;
    line-height: 32px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    text-shadow: 0 1px 0 #19802b;
    padding: 0 25px;
    cursor: pointer;
    margin: 15px 0;
}

#btn_return a {
    text-decoration: none;
}

.btn_return_on_main {
    display: block;
    margin: 30px 0;
}

.btn_form:hover {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.4);
    background: rgba(0, 255, 255, 0.1);
    color: #0096FF;
}

.btn_return_on_main a {
    text-decoration: none;
    color: #fff;
}

.bg_img img {
    width: 450px;
    border:1px solid #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#wform {
    max-width: 450px;
    padding-top: 10px;
    float: left;
}

#wform h2 {
    padding: 15px 0; 
    margin: 0;
}

#wform p, pre {
    margin: 1em 0;
    font-size: 15px;
}

.form_in {
    font-size: 12px;
}

.form_in em {
    float: right;
    line-height: 24px;
    overflow: hidden;
    font-size: 11px;
    color: #666;
}

.form_text {
    float: left;
    width: 320px;
    height: 26px;
    background: #fff;
    border-radius: 4px;
    outline: 0;
    padding: 0 7px;
    border: 1px solid #d7e3ee;
    margin: 0;
    box-shadow: inset 0 1px 6px rgba(98,141,180,0.26);
}

.pd-b {
    padding-bottom: 15px;
}

.form_item_lab {
    padding: 2px 0;
    color: #6A6A6A;
}

#sttel {
    float: left;
    padding: 5px 5px 0 0;
}
