#text-about {
    background: url(../../img/Pizza-Callback-bg.jpg) repeat;
}

#text-about h1, h2, h3 { 
    color: #76b900;
    text-shadow: -1px -1px #FFF,
               -2px -2px #FFF,
               -1px 1px #FFF,
               -2px 2px #FFF,
               1px 1px #FFF,
               2px 2px #FFF,
               1px -1px #FFF,
               2px -2px #FFF,
               -3px -3px 2px #BBB,
               -3px 3px 2px #BBB,
               3px 3px 2px #BBB,
               3px -3px 2px #BBB;
    transition: all 0.86s;
}

@media screen and (max-width: 560px) {
    #text-about h1, h2, h3 {
        font-size: 20px;
    }
    #text-about p {
        font-size: 14px;
    }
    .btn-outline-success {
        font-size: 14px;
    }
}
